/* Стили для подвала */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .footer a {
    color: #fdf4dc;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: #e67e22;
  }
  